{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
	<h1>О нас</h1>
	<p class="lead">
		Псковский футбол развивается как профессиональный, так и любительский.
		Главная команда города готовится отыграть в этом сезоне в МРО Северо-Запад в КФК.
		А любительский футбол набирает обороты, если раньше играло около 10 команд, сейчас состав участников насчитывает около 30 команд.
	</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Главная команда</h2>
        <p>
            Здесь вы сможете ознакомиться с основной информации о нашей Псковской команде, и сможете поддержать её в будущих матчах.
        </p>
        <p><a class="btn btn-default" href="http://fc-pskov.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ЛДФ</h2>
        <p>
            Узнав больше о Любительской футбольной лиге, вы поймете, что футбол в нашем прекрасно мгороде развивается.
        </p>
        <p><a class="btn btn-default" href="https://lflpskov.join.football/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Стрела</h2>
        <p>
            Если хотите записать ребенка на футбол, подробнее на этом сайте.
        </p>
        <p><a class="btn btn-default" href="http://kfk.pskovadmin.ru/org/Strela">Узнать больше &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Главная команда</h2>
        <p>
            Команда ФК "Псков" начала своё существование с 2020 года.
            До этого команда называлась ФК "747" и выступала во 2 дивизионе, сейчас же она выступает в 3 дивиозе по Северо-Западу.
        </p>
        <p><a class="btn btn-default" href="http://fc-pskov.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Любительская футбольная лига</h2>
        <p>
            ЛФЛ берет свое начало из 2007 года. Тогда ребята просто собирались на стадионе 9 школы и устраивали соревнования,
            и называлась тогда Лига Дворового футбола и насчитывала около 5-7 команд.
            Сейчас же в этих соревнованиях принимают участие около 30 команд.
        </p>
        <p><a class="btn btn-default" href="https://lflpskov.join.football/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Юношеский футбол</h2>
        <p>
            Команды младших возрастов не перестают нас радовать. Например команды ФК "Псков" 2006, 2007 и 2008 года рождения примут в этом году участие Юношеской футбольной лиге.
            А дети команд "Стрела" смогут поучаствовать в турнире вместе с акдемией "Зенита", так как "Стрела" и "Зенит" подписали договор о сотрудничестве.
        </p>
    </div>
</div>

<address>
    Фирма<br />
    Улица, дом<br />
    <abbr title="телефон">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
