{% extends "layout.html" %}

{% block content %}

<p>
    <a href="http://fc-pskov.ru">Главная Команда</a> - Здесь вы сможете ознакомиться с основной информации о нашей Псковской команде, и сможете поддержать её в будущих матчах.

</p>

<p>
    <a href="https://lflpskov.join.football/">ЛДФ</a> - Узнав больше о Любительской футбольной лиге, вы поймете, что футбол в нашем прекрасно мгороде развивается.

</p>

<p>

    <a href="http://kfk.pskovadmin.ru/org/Strela">Стрела</a> - Если хотите записать ребенка на футбол, подробнее на этом сайте.
</p>


{% endblock %}
