{%extends "layout.html"%}
{%block content%}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Здесь вы можете создать свой аккаунт</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Логин</label>
                    <div class="col-md-10">
                        {{ regform.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_first_name" class="col-md-2 control-label">Имя</label>
                    <div class="col-md-10">
                        {{ regform.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_last_name" class="col-md-2 control-label">Фамилия</label>
                    <div class="col-md-10">
                        {{ regform.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email" class="col-md-2 control-label">Электронная почта</label>
                    <div class="col-md-10">
                        {{ regform.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password1" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-10">
                        {{ regform.password1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password2" class="col-md-2 control-label">Повторите пароль</label>
                    <div class="col-md-10">
                        {{ regform.password2 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
				{% if regform.errors %}
				<p class="validation-summary-errors">Пожалуйста введите коректное имя и пароль.</p>
				{% endif %}
            </form>
        </section>
    </div>
</div>
{% endblock %}

{% block scripts %}

    {% load static %}
<script src="{% static 'scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
